 <%-include('./layouts/navbar.ejs') %>  

<div class="container">
    <div class="block">
        <h1 class="text-center">Автомобили</h1>
        <% if (type !== "updateCar"){ %>
        <table class="table table-bordered">
            <thead>
                <caption><% if (type==="with") { %> Автомобили с владельцем <% } else if (type==="without") { %> Автомобили без владельца <% } %></caption>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Модель</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Год выпуска</th>
                    <th scope="col">Владелец</th>
                    <th scope="col">Удалить</th>
                    <th scope="col">Изменить</th>
                    <% if (type==="without") { %>
                        <th scope="col">Доабвить владельца</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                    <% for ( car of cars) { %>
                        <tr>
                            <th id="model"> <%= car.id %> </th>
                            <td id="type"> <%= car.type %> </td>
                            <td id="model"> <%= car.model %> </td>
                            <td id="exp_year"> <%= moment(car.exp_year).format('DD-MM-YYYY') %> </td>
                            <td it="name"> <% if(type === 'with') { %><%= car.name %> <% } else if (type==='without') { %> Нет владельца  <% } %>
                            <td> 
                                <form action="/delete-car" method="POST">
                                    <input type="text" class="hidden" name="car_id" value="<%= car.id%>"/>
                                    <button type="submit" class="btn btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                            <td> 
                                <a href="/edit-car/<%= car.id %>"><i class="far fa-edit"></i></a>
                                <!-- <from action="/edit-car/<%= cars.id %>" method="POST">
                                    <button type="submit" class="btn btn-outline-success"><i class="far fa-edit"></i></button>
                                </from> -->
                            </td>
                            <% if(type==="without") { %>
                                <td>
                                    <form action="/change-owner/<%=car.id%>" method="POST">         
                                        <div class="form-group mx-sm-6 mb-2">
                                            <select class="form-control" id="carOwner" name="owner_id">
                                                <% for(owner of owners) { %>
                                                    <option value="<%= owner.id %>"> <%= owner.name %></option>
                                                <% } %>
                                            </select>
                                        </div> 
                                        <button type="submit" class="btn btn-outline-primary mx-sm-6 mb-1 float-right "><i class="fas fa-user-plus"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        </tr>
                        <% } %>
            </tbody>
            
        </table>
        <%-include('./modules/addCarMod.ejs')%>
        <% } else { %>
            <form action="/update-car/<%= car.id %>" class="add-element" method="POST">

                <div class="form-group">
                    <label for="carType">Марка машины</label>
                    <input type="text" value="<%= car.type%>"  class="form-control" id="carType" name="type">
                </div>
                <div class="form-group">
                    <label for="carModel">Модель машины</label>
                    <input type="text" value="<%= car.model %>" class="form-control" id="carModel" name="model">
                </div>
                <div class="form-group">
                    <label for="carExpYear">Год выпуска</label>
                    <input type="date" value="<%= moment(car.exp_year).format('YYYY-MM-DD') %>" class="form-control" id="carExpYear" name="exp_year">
                </div>
              
                <div class="form-group">
                    <label for="carOwner">Хозяин</label>
                    <select class="form-control" id="carOwner" name="owner_id">
                        <% for(let owner of owners) { %>
                            <option value="<%= owner.id %>"><%= owner.name %></option>
                        <% } %>
                    </select>
                </div>
                    <button type="submit" class="btn btn-primary float-right">Изменить</button>
                 
            </form>
        <% } %>
    </div>
</div>


<%-include('./layouts/footer.ejs') %> 