 <%-include('./layouts/navbar.ejs') %>  

   <div class="container">
        <div class="block">
            <div class="container">
                <form action="/add-car" class="add-element" method="POST">
                    <input type="text" placeholder="Марка машины" id="type" name="type" />
                    <input type="text" placeholder="Модель машины" id="model" name="model"/>
                    <input type="date" placeholder="Год выпуска" id="exp_year" name="exp_year" />
                    <input type="text" placeholder="Хозяин" id="person_id" name="owner_id" />
                    <button type="submit">Добавить</button>
                </form>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Модель</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Год выпуска</th>
                        <th scope="col">Владелец</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (car of cars) { %>
                            <tr>
                                <th> <%= car.id %> </th>
                                <td> <%= car.type %> </td>
                                <td> <%= car.model %> </td>
                                <td> <%= moment(car.exp_year).format('DD-MM-YYYY') %> </td>
                                <td> <% if(car.owner_id === null) { %> Нет машины <% } else { %> <%= car.name %> <% } %> </td>
                            </tr>
                        <% } %>
                </tbody>
            </table>

        </div>

        <div class="block">

            <form action="/add-owner" class="add-element" method="POST">
                <input type="text" placeholder="Имя собственника" id="name" name="name" />
                <input type="tel" placeholder="Номер собственника" id="phone" name="phone"/>
                <input type="email" placeholder="Почта собственника" id="email" name="email" />
                <button type="submit">Добавить</button>
            </form>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Автомобили</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (owner of owners) { %>
                            <tr>
                                <th> <%= owner.id %> </th>
                                <td> <%= owner.name %> </td>
                                <td> <%= owner.phone %> </td>
                                <td> <%= owner.email %> </td>
                            </tr>
                        <% } %>
                </tbody>
            </table>
    
        </div>

    </div>


<%-include('./layouts/footer.ejs') %> 